/** General **/

* {
    font-family: Outfit;
}

body {
    background-color: #0D192C;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

/** Component **/

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#nftCard {
    background-color: #15263F;
    width: 350px;
    height: 596px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

.imageContainer {
    position: relative;
    width: 302px;
    height: 302px;
    margin: 24px;
}

#nftImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.imageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    background-color: rgba(0, 255, 248, 50.3%);
    border-radius: 8px;
    display: none;
  }

  .imageContainer:hover .imageOverlay {
    display: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#nftTitle {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    width: 302px;
    height: 28px;
    margin: 0px 24px 16px 24px;
}

#nftTitle:hover {
    color: #00FFF8;
}

#nftDescription {
    color: #8BACD9;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    width: 302px;
    height: 52px;
    margin: 0px 24px 24px 24px;
}

#priceSection {
    width: 301px;
    height: 20px;
    margin: 0px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
}

#nftPrice {
    color: #00FFF8;
    font-weight: 600;
    font-size: 16px;
    width: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconEth {
    width: 11px;
    height: 18px;
    margin-right: 6.5px;
}

#timeLeft {
    color: #8BACD9;
    font-size: 16px;
    font-weight: 300;
    width: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconClock {
    width: 16px;
    height: 16px;
    margin-right: 7.7px;
}

#cardSeparation {
    width: 302px;
    border: 0.5px solid #2E405A;
    margin: 0px 24px 0px 24px;
}

#cardCredits {
    width: 230px;
    height: 33px;
    margin: 16px 96px 32px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authorImg {
    width: 32px;
    height: 33px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 16px;
}

#nftAuthor {
    color: #8BACD9;
    font-size: 16px;
    font-weight: 300;
}

#authorName {
    color: white;
    text-decoration: none;
}

#authorName:hover {
    color: #00FFF8;
}